Flask==3.0.3
openpyxl==3.1.5
gunicorn
Jinja2==3.1.6
MarkupSafe==3.0.3
Werkzeug==3.1.8
blinker==1.9.0
click==8.4.2
env.example==1.0.0
et-xmlfile==2.0.0
gunicorn==26.0.0
itsdangerous==2.2.0
openpyxl==3.1.5
packaging==26.2
python-dotenv==1.2.2
requests==2.31.0
